
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
  <title>My Website</title>
</head>

  <body style="background-image: url('{{url_for('static',filename='wallet.png')}}')">
    <body >
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
                  
            <h1><span>M</span>y <span>Ex</span>pense <span>T</span>racker</h1>

        </div>
 

      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>Welcome To <span></span></h1>
        <h1>Expense Tracker Web application <span></span></h1>
        <a href="/index" type="button" class="cta">Go to Home</a>
      </div>
    </div>
  </section>

</body>

</html>
